*{padding: 0; margin: 0;}
a{text-decoration: none;}
main{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
button{
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
}
kbd:hover>button{
	display: inline-block;
}
.wrapper{
	display: inline-block;
}
.wrapper div{
	margin: 3px 0;
}
kbd{
	font-size: 1.5em;
	line-height: 3em;
	width: 3em;
	height: 3em;
	border: 1px solid red;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
}
.wrapper div:nth-child(2){
	margin-left: 1.5em;
}
.wrapper div:nth-child(3){
	margin-left: 1em;
}
.key{
	width: 55px;
	height: 50px;
	background: linear-gradient(to bottom, #292929 0%,#111111 100%); 
	border: 1px solid #373737;
	color: #c5c5c5;
	border-radius: 5px;
	box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f2020, 0 3px 0 2px #080808;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
	font-family: Helvetica;
}
kbd img{
	width: 16px;
	height: 16px;
	position: absolute;
	bottom: 1px;
	left: 1px;
}

